@charset "utf-8";
/* Chemistry Style Document by TiH*/

/* global */
* { margin:0; padding:0; }
body { font-family:"Segoe UI",Verdana,微软雅黑; font-size:14px; color:#000; background:#CCC; text-align:left; height:100%; width:100%; }
a, a:visited { text-decoration:none; color:#fff; }
a:hover {text-decoration:underline; }
div { margin:0 auto; }
table { border-collapse:collapse; }
table tr { vertical-align:top; }
li { list-style-type:none; }
.main { width:1000px; background-color:#fff; }

.button, .cms_button { border:1px #666 solid; }
.button:hover, .cms_button:hover { background-color:#DDD}

.content a, .content a:hover, .content a:visited { color:#666; }

.panl_10 { padding-left:10px; }

.hint { color:red; }
/* top */
.banner { width:1000px; height:203px; background-image:url(../images/banner.jpg); }
.nav_top { width:1000px; line-height:35px; background-image:url(../images/leadbg.jpg); background-repeat:repeat-x; font-size:12px; overflow:hidden; }
.nav_labs { float:left; width:870px; height:100%; }
.nav_labs  ul li { display:inline; margin-left:8px; }
.nav_labs  ul { display:inline; }
.nav_eng { float:right; margin-right:20px; height:100%; text-align:right; font-size:18px; }

/* left */
.left { width:200px; height:100%; background-color:#07F; color:#fff; }
.nav_lf ul li { width:100%; height:40px; line-height:40px; font-size:16px; text-align:center; }
.nav_lf ul li:hover { background-color:#999; }

.lf_addr ul { margin-top:80px;}
.lf_addr ul li { font-size:14px; margin-left:30px; margin-right:10px; }

.lf_links { margin:30px 0; text-align:center; }
.lf_links select { width:140px; }

.lf_login_en { height:20px; margin-top:50px; text-align:center; font-size:12px; }
#lf_login { text-align:center;width:200px; display:none; margin-top:30px; }

/* right */
.right { width:800px; height:100%; background-color:#FFF; }

/* index */
    /* pics */
#focus {width:360px; height:260px; overflow:hidden; position:relative;z-index:0; border:1px #CCC double; margin:10px 0 0 0; padding:0;}
#focus ul {height:260px; position:absolute; margin:0; padding:0;}
#focus ul li {float:left; width:360px; height:260px; overflow:hidden; position:relative; background:#000;}
#focus ul li div {position:absolute; overflow:hidden;}
#focus .btnBg {position:absolute; width:360px; height:20px; left:0; bottom:0; background:#000;}
#focus .btn {position:absolute; width:340px; height:10px; padding:5px 10px; right:0; bottom:4px; text-align:right;}
#focus .btn span {display:inline-block; _display:inline; _zoom:1; width:25px; height:10px; _font-size:0; margin-left:5px; cursor:pointer; background:#fff;}
#focus .btn span.on {background:#fff;}

.in_block_1 ,.in_block_2 { background-color:#EEE; margin:10px 0; }
.in_block_1 { width:360px; }
.in_block_2 { width:410px; }
.in_title_1 , .in_title_2{ line-height:35px; height:35px; font-size:16px; color:#FFF; }
.in_title_1 { width:360px; background-image:url(../images/title1.jpg); }
.in_title_2 { width:410px; background-image:url(../images/title2.jpg); }
.in_title_na { float:left; margin-left:40px; }
.more{ float:right; margin-right:20px; }

.in_list ul li { color:#666; height:22px; line-height:22px; }
.in_list a, .in_list a:hover, .in_list a:visited { display:block; width:65%; height:22px; line-height:22px; float:left; margin:0 25px 0 10px; text-overflow: ellipsis; overflow:hidden; color:#666; }

.in_disp { height:145px; }
.in_disp ul li { margin-bottom:10px; height:42px; line-height:42px; font-size:24px; text-align:center; }

/* list */
.content { width:720px; min-height:500px; padding:10px 30px; line-height:20px; font-size:14px; text-align:left; background:#EEE; }
.list li { display:block; color:#666; height:22px; line-height:22px; margin-top:4px; border-bottom-style:dotted; border-width:1px; border-color:#AAA; }
.list a, .list a:hover, .list a:visited { color:#666; display:block; width:65%; height:22px; line-height:22px; float:left; margin-right:10px; text-overflow: ellipsis; overflow:hidden; }
.list .time { float:right; margin-right:15px; height:22px; line-height:22px; }
.list .type { float:left; height:22px; line-height:22px; }
.page { margin-top:20px; }
.page a, .page a:hover, .page a:visited{ color:#666; }

/* article */
.article { width:780px; margin:10px;}
.art_block { width:740px; height:20px; padding: 10px 0 10px 40px; font-size:16px; background-color:#d3eafc; }

/* teachers list */
.teacher_list { border-collapse:separate; margin-left:20px; }
.teacher_list tr { vertical-align:middle; text-align:center; }
.teacher_list tr td { width:200px; }
.teacher_list a, .teacher_list a:hover, .teacher_list a:visited { color:#000; }
.teacher_list ul li { width:7em; float:left; }

/* teachers edit */
#photoif { color:#F00; max-height:30px; overflow:hidden; }


/*cms_list*/
.cms_button { float:right; margin-right:8px; }

/*cms_pic*/
.cms_picul { width:108px; text-align:center; display:inline; }
.cms_picul li { width:108px; display:inline-block; margin:10px 6px; float:left; text-align:center; }
.cms_picul img { width:108px; height:78px; }
