{% extends "main/cms.html" %}

{% block content %}
    <div>
        添加图片
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="pic" class="button" />
            <label for="title">名称：</label>
            <input name="title" type="text" style="width:150px;" />
            <label for="link">链接：</label>
            <input name="link" type="text" style="width:150px;" />
            <input type="submit" class="button" value="上传" />
        </form>
    </div>
    <div style="float:left; width:100%">
        <ul class="cms_picul">
            {% for pic in pics %}
                <li>
                    <a href="{{ pic.link }}" title="{{ pic.title }}" target="_blank"><img src="{{ pic.src }}" /></a><br>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="delete" value="{{ pic.id }}" />
                        <input type="submit" class="button" value="删除"/>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="page" align="center">
        {{ page.page }}/{{ page.pagec }}页&nbsp;共{{ page.artc }}条
        <a href="?page=1">首页</a>
        {% if page.pre != 0%}<a href="?page={{ page.pre }}">上一页</a>{% endif %}&nbsp;
        {% if page.next != 0%}<a href="?page={{ page.next }}">下一页</a>{% endif %} &nbsp;
        <a href="?page={{ page.pagec }}">尾页</a>
        跳转至
        <select onchange="location.href=this.options[this.selectedIndex].value" >
            {% for i in page.range %}
                <option value="?page={{ i }}">{{ i }}</option>
            {% endfor %}
        </select>页
    </div>
{% endblock %}
