{% extends "main/cms.html" %}

{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            <label for="labs">研究所名</label><input name="labs" />
            <input type="submit" class="button" value="添加研究所" />
        </form>
        <form method="post">
            {% csrf_token %}
            <label for="name">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label><input type="text" name="name" />
            <label for="lab">研究所</label>
            <select type="text" name="lab">
                {% for lab in labs %}
                    <option value="{{ lab.id }}">{{ lab.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" class="button" value="添加教师"/>
            <input type="submit" name="delab" class="button" value="删除研究所"/>
        </form>
    </div>
    <br>
    <ul class="list">
        {% for tea in teacher %}
            <li>
                <a href="{{ tea.link }}" title="{{ tea.name }}" style="width:250px;">{{ tea.name }}</a>
                <div class="type">{{ tea.lab }}</div>
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" class="cms_button" value="删除" />
                    <input type="hidden" name="delete" value="{{ tea.id }}" />
                </form>
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" class="cms_button" value="修改"/>
                    <input type="hidden" name="chpwd" value="{{ tea.id }}" />
                    <div class="time">
                        <label for="passwd">修改密码</label>
                        <input name="passwd" type="password" style="width:70px;" />
                    </div>
                </form>
            </li>
        {% endfor %}
    </ul>
    <div class="page" align="center">
        {{ page.page }}/{{ page.pagec }}页&nbsp;共{{ page.artc }}条
        <a href="?page=1">首页</a>
        {% if page.pre != 0%}<a href="?page={{ page.pre }}">上一页</a>{% endif %}&nbsp;
        {% if page.next != 0%}<a href="?page={{ page.next }}">下一页</a>{% endif %} &nbsp;
        <a href="?page={{ page.pagec }}">尾页</a>
        跳转至
        <select onchange="location.href=this.options[this.selectedIndex].value" >
            {% for i in page.range %}
                <option value="?page={{ i }}">{{ i }}</option>
            {% endfor %}
        </select>页
    </div>
{% endblock %}
