{% extends "main/cms.html" %}

{% block content %}
    <div>
        <select onchange="location.href=this.options[this.selectedIndex].value" >
            <option value="news.html">所有消息</option>
            {% for bl in bls %}
                <option value="news-{{ bl.id }}.html" {% if id == bl.id %}selected="selected"{% endif %}>{{ bl.name }}</option>
            {% endfor %}
        </select>
        {% if id %}
            <form method="post" style="display:inline;">
                {% csrf_token %}
                <input type="submit" name="add" class="button" value="发布消息"/>
            </form>
        {% endif %}
    </div>
    <ul class="list">
        {% for art in article %}
            <li>
                <a href="{{ art.link }}" title="{{ art.title }}" target="_blank" style="width:385px;">{{ art.title }}</a>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="aid" value="{{ art.id }}"/>
                    <input type="submit" name="delete" class="cms_button" value="删除"/>
                    <input type="submit" name="modify" class="cms_button" value="修改"/>
                </form>
                <div class="time">{{ li.time|date:"Y-m-d" }}</div>
                {% if art.bid == 4 %}<div class="type">{{ art.type }}</div>{% endif %}
            </li>
        {% endfor %}
    </ul>
    <div class="page" align="center">
        {{ page.page }}/{{ page.pagec }}页&nbsp;共{{ page.artc }}条
        <a href="?page=1">首页</a>
        {% if page.pre != 0%}<a href="?page={{ page.pre }}">上一页</a>{% endif %}&nbsp;
        {% if page.next != 0%}<a href="?page={{ page.next }}">下一页</a>{% endif %} &nbsp;
        <a href="?page={{ page.pagec }}">尾页</a>
        跳转至
        <select onchange="location.href=this.options[this.selectedIndex].value" >
            {% for i in page.range %}
                <option value="?page={{ i }}">{{ i }}</option>
            {% endfor %}
        </select>页
    </div>
{% endblock %}
