{% extends "main/template.html "%}
{% block content %}
    <ul class="list">
        {% for art in article %}
            <li><a href="{{ art.link }}" title="{{ art.title }}">{{ art.title }}</a>
                {% if bname == "学院通知" %}<div class="type">{{ art.type }}</div>{% endif %}
                <div class="time">{{ art.time|date:"Y-m-d" }}</div>
            </li>
        {% endfor %}
    </ul>
    <div class="page" align="center">
        {{ page.page }}/{{ page.pagec }}页&nbsp;共{{ page.artc }}条
        <a href="?page=1">首页</a>
        {% if page.pre != 0%}<a href="?page={{ page.pre }}">上一页</a>{% endif %}&nbsp;
        {% if page.next != 0%}<a href="?page={{ page.next }}">下一页</a>{% endif %} &nbsp;
        <a href="?page={{ page.pagec }}">尾页</a>
        跳转至
        <select onchange="location.href=this.options[this.selectedIndex].value" >
            {% for i in page.range %}
                <option value="?page={{ i }}">{{ i }}</option>
            {% endfor %}
        </select>页
    </div>
{% endblock %}